*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    max-width: 80%;
    margin: 0 auto;
    height: 80px;
    text-align: center;
}

.cabecalho{
    max-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    height: 100px;
}

.item{
    height: 20px;
    width: 250px;
    background-color: palevioletred;
    margin-left: 10%;
    margin-bottom: 20px;
    float: left;
}

.item span{
    font-weight: bold;
}

.notas{
    max-width: 80%;
    margin: 0 auto;
}

.note{
    height: 230px;
    width: 250px;
    margin-left: 10%;
    margin-bottom: 20px;
    float: left;
}

.amarelo{
    background-color: yellow;
}

.roxo{
    background-color: purple;
}


